<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Author</th>
            <th scope="col">Message</th>
            <th scope="col">DateTime</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tweet of tweets">
            <td>{{ tweet.id }}</td>
            <td>{{ tweet.author }}</td>
            <td>{{ tweet.message }}</td>
            <td>{{ tweet.dateTime }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>